@using EndPointStore.Models.HomePageViewModel;
@model HomePageViewModel
@await Component.InvokeAsync("BackDrop")
@await Component.InvokeAsync("HeaderLeft")
@{
    ViewBag.Title= Model.Setting?.SiteName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Metatags{
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="@Model.Setting?.KeyWords">
    <meta name="description" content="@Model.Setting?.Description">
    <meta name="twitter:title" content="@Model.Setting?.SiteName" />
    <meta name="twitter:description" content="@Model.Setting?.Description">
    <meta name="twitter:image" content="@Model.Setting?.Logo">
    <meta property="og:title" content="@Model.Setting?.SiteName" />
    <meta property="og:url" content="@Model.Setting?.BaseUrl" />
    <meta property="og:image" content="@Model.Setting?.Logo">
    <meta property="og:description" content="@Model.Setting?.Description">
    <meta property="og:site_name" content="@Model.Setting?.SiteName" />
    <link rel="icon" type="image/svg" href="@Model.Setting?.Icon" />
}

 @if(Model.GetSliderForSites.Count>0)
{
    <!-- start slider section -->
    <section class="p-0 wow animate__fadeIn no-transition">
        <article class="content">
            <div id="rev_slider_151_1_wrapper" class="rev_slider_wrapperd fullscreenbanner" data-alias="blur-effect-slider" data-source="gallery" style="background-color:#2d3032;padding:0px;">
                <!-- start revolution slider 5.4.1 fullscreen mode -->
                <div id="rev_slider_151_1" class="rev_slider fullscreenbanner" data-version="5.4.1">
                    <ul>
                        @foreach (var slider in Model.GetSliderForSites)
                        {

                            <!-- slider item -->

                            <li data-index="rs-@slider.Id" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="@slider.Image" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- main image -->
                                
                                <img src="@slider.Image" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                                <!-- layers -->
                                <div CLASS="opacity-extra-medium bg-extra-dark-gray"></div>
                                <div id="rrzt_@slider.Id" class="rev_row_zone rev_row_zone_top full-screen" style="z-index: 9;">
                                    <div class="container-fluid padding-thirteen-left h-100">
                                        <div class="row h-100">
                                            <div class="col-12 d-flex justify-content-center flex-column">
                                                <!-- layer nr. 1 -->
                                                <div class="tp-caption"
                                                     id="slide-@slider.Id-layer-14"
                                                     data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                                                     data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                                     data-type="row"
                                                     data-columnbreak="2"
                                                     data-basealign="slide"
                                                     data-responsive_offset="on"
                                                     data-responsive="off"
                                                     data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                                     style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                                    <!-- layer nr. 2 -->
                                                    <div class="tp-caption "
                                                         id="slide-@slider.Id-layer-15"
                                                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']"
                                                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']"
                                                         data-type="column"
                                                         data-responsive_offset="on"
                                                         data-responsive="off"
                                                         data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                                         style="z-index: 10; width: 100%;">
                                                        <!-- layer nr. 3 -->
                                                        <div class="tp-caption blurslider-gradient alt-font font-weight-600 title-extra-large margin-30px-bottom"
                                                             id="slide-@slider.Id-layer-1"
                                                             data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
                                                             data-y="['top','top','top','top']" data-voffset="['0','0','230','110']"
                                                             data-fontsize="['130','130','100','55']"
                                                             data-lineheight="['120','120','100','60']"
                                                             data-type="text"
                                                             data-basealign="slide"
                                                             data-responsive_offset="on"
                                                             data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                                             style="z-index: 11; letter-spacing: -1px;">
                                                            <a href="@slider.Link" class="text-white-2 text-white-2-hover">@slider.Name</a>
                                                        </div>
                                                       
                                                        <!-- layer nr. 4 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- slider item -->
                        }
                    </ul>
                    <div style="" class="tp-static-layers">

                        <!-- layer nr. 28 -->
                        <!-- layer nr. 29 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer"
                             id="slider-151-layer-22"
                             data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','bottom','bottom']" data-voffset="['-50','-50','102','102']"
                             data-width="['300','300','240','30%']"
                             data-height="50"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                             data-visibility="['on','on','on','off']"
                             data-type="shape"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-startslide="0"
                             data-endslide="2"
                             data-frames='[{"delay":"bytrigger","speed":800,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":500,"frame":"999","to":"x:[-100%];opacity:1;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power4.easeOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-blendmode="overlay"
                             data-lasttriggerstate="reset"
                             style="z-index: 18;background-color:rgba(0, 0, 0, 0.25);cursor:pointer;"> </div>



                        <!-- layer nr. 34 -->
                        <!-- layer nr. 35 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer"
                             id="slider-151-layer-26"
                             data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','bottom','bottom']" data-voffset="['52','52','0','0']"
                             data-width="['300','300','240','30%']"
                             data-height="50"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                             data-visibility="['on','on','on','off']"
                             data-type="shape"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-startslide="0"
                             data-endslide="2"
                             data-frames='[{"delay":"bytrigger","speed":800,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":500,"frame":"999","to":"x:[-100%];opacity:1;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power4.easeOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-blendmode="overlay"
                             data-lasttriggerstate="reset"
                             style="z-index: 24;background-color:rgba(0, 0, 0, 0.4);cursor:pointer;"> </div>


                    </div>
                </div>
            </div>
            <!-- end revolution slider -->

        </article>
    </section>
    <!-- end slider section -->
}
@if (Model.CategorySites.Count>0)
{
    <!-- start section colloction -->
    <section class="wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="container position-relative">
            <div class="row justify-content-center">
                @foreach (var category in Model.CategorySites)
                {
                    <!-- start interactive banners item -->
                    <div class="col-12 col-lg-4 col-md-6 col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="feature-box-16 sm-w-100">
                            @if(!string.IsNullOrEmpty(category.Image))
                            {
                                <img src="@category.Image" alt="" data-no-retina="">
                            }
                            <div class="feature-box-content text-center">
                                <div class="opacity-full-dark bg-extra-dark-gray"></div>
                                <div class="d-table h-100 w-100 position-relative">
                                    <div class="align-middle d-table-cell padding-15px-lr padding-20px-tb">
                                        <div class="text-white-2 alt-font text-medium margin-15px-bottom">@category.Name</div>
                                        <p class="w-85 mx-auto text-extra-light-gray m-0">@category.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end interactive banners item -->
                }
            </div>
        </div>
    </section>
    <!-- end section -->
}
 @if(Model.GetResultSites.Count>0)
{
    <!-- start counter section -->
    <section class="wow animate__fadeIn bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center margin-30px-bottom md-margin-10px-bottom sm-margin-9px-bottom">
@*                    <p class="alt-font margin-5px-bottom text-uppercase text-small">Results</p>
*@                    <h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 md-w-100">Arikeh figures</h5>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-5">

                @foreach (var result in Model.GetResultSites)
                {
                    <!-- counter box item -->
                    <div class="col md-margin-60px-bottom md-padding-ten-left sm-margin-40px-bottom sm-padding-15px-left wow animate__fadeInDown">
                        <img src="@result.Image" class="result-img"/>
                        <div class="float-start padding-nine-left">
                            <h5 class="text-extra-dark-gray font-weight-300 margin-three-bottom counter" data-to="@result.Value" data-speed="2000">@result.Value</h5>
                            <span class="text-small text-medium-gray text-uppercase d-block">@result.Title</span>
                            <div class="separator-line-horrizontal-medium-light2 bg-deep-pink d-inline-block"></div>
                        </div>
                    </div>
                    <!-- end counter box item -->
                }
            </div>
        </div>
    </section>
    <!-- end counter section -->
}

<!-- start parallax section -->
<section class="wow animate__fadeIn parallax" data-parallax-background-ratio="0.4" style="background-image:url('../../wwwroot/SiteTemplate/assets/images/parallax-bg1.jpg');">
    <div class="opacity-full bg-extra-dark-gray"></div>
    <div class="container position-relative">
        <div class="row align-items-center">
            <!-- start feature box item -->
            <div class="col-12 col-lg-6 lg-margin-15px-top md-no-margin-top md-margin-ten-bottom sm-padding-five-lr sm-margin-ten-bottom wow animate__fadeIn last-paragraph-no-margin">
                <div class="padding-fourteen-right md-no-padding-right text-center text-lg-start">
                    <h5 class="alt-font text-white-2">Arikeh Catalogue</h5>
                    <p class="w-90 lg-w-100 mx-auto mx-lg-0 text-medium-gray">Here, with just a click, you can access Arikeh entire collections, which includes reeds ranging from 400, 500, 700, 1200, 1500, to 1600.</p>
                    <a href="/Pages/Detail/Download-Catalogue-PDF" class="margin-35px-top btn btn-small btn-white md-margin-30px-top">Download</a>
                </div>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <!-- <div class="col-12 col-lg-3 col-sm-6 position-relative text-center xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                 <a class="popup-youtube" href="https://www.youtube.com/watch?v=sU3FkzUKHXU">
                     <img src="images/image-6.jpg" alt="" class="w-100">
                     <div class="icon-play">
                         <div class="absolute-middle-center w-80">
                             <img src="images/icon-play.png" alt="">
                         </div>
                     </div>
                 </a>
             </div>-->
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col-12 col-lg-6 col-sm-6 position-relative text-center wow animate__fadeIn" data-wow-delay="0.4s">
                <img src="/SiteTemplate/assets/images/arikeh.jpg" alt="" class="w-100">
            </div>
            <!-- end feature box item -->
        </div>
    </div>
</section>
<!-- end parallax section -->
<!-- start sabt farsh sefareshi section -->
<section class="wow animate__fadeIn register-carpet" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center margin-20px-bottom md-margin-10px-bottom sm-margin-9px-bottom">
                   <h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 md-w-100">Ordering Carpet</h5>
                <p class="alt-font margin-5px-bottom text-uppercase">Whatever your design requirement may be, whether it be your own brand logo, a favourite image or view, a national or religious symbol, we can bring it to life in a custom carpet or rug.</p>
                <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto w-100px"></span>
            </div>
            <div class="col-12 justify-content-center text-center p-0 tab-style1" id="animated-tab">
                <!-- start tab navigation -->
                <ul class="nav nav-tabs margin-50px-bottom sm-no-margin-bottom d-flex justify-content-center">
                    <li class="nav-item"><a href="#tab6_sec1" data-bs-toggle="tab" class="nav-link active"><span><img class="register-img" src="https://arikehcarpet.com/Uploads/Icons/job.png" /></span><span class="alt-font text-medium-gray text-uppercase text-small">Register</span></a></li>
                    <li class="nav-item"><a href="#tab6_sec2" data-bs-toggle="tab" class="nav-link"><span><img class="register-img" src="https://arikehcarpet.com/Uploads/Icons/reviews.png" /></span><span class="alt-font text-medium-gray text-uppercase text-small">01. Request review</span></a></li>
                    <li class="nav-item"><a href="#tab6_sec3" data-bs-toggle="tab" class="nav-link"><span><img class="register-img" src="https://arikehcarpet.com/Uploads/Icons/graphic.png" /></span><span class="alt-font text-medium-gray text-uppercase text-small">02. Sending a digital sample</span></a></li>
                    <li class="nav-item"><a href="#tab6_sec4" data-bs-toggle="tab" class="nav-link"><span><img class="register-img" src="https://arikehcarpet.com/Uploads/Icons/job.png" /></span><span class="alt-font text-medium-gray text-uppercase text-small">03. Send the contract</span></a></li>
                    <li class="nav-item"><a href="#tab6_sec5" data-bs-toggle="tab" class="nav-link "><span><img class="register-img" src="https://arikehcarpet.com/Uploads/Icons/mat.png" /></span><span class="alt-font text-medium-gray text-uppercase text-small">04. Carpet weaving and customer supervision</span></a></li>
                </ul>
                <!-- end tab navigation -->
                <div class="tab-content">
                    <!-- start tab content -->
                    <div id="tab6_sec1" class="tab-pane fade in  active show">
                        <div class="row m-0">
                            @Html.Raw(ViewBag.Register)
                            <div class="col-12 text-center">
                                <a href="/Home/RegisterCustomCarpet" class="btn btn-deep-pink btn-outline-danger btn-large margin-20px-top sm-no-margin-top">Place order</a>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab6_sec2" class="tab-pane fade in">
                        <div class="row m-0">
                            @Html.Raw(ViewBag.RequestReview)
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab6_sec3" class="tab-pane fade in">
                        <div class="row m-0">
                            @Html.Raw(ViewBag.SendingDigitalSample)
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab6_sec4" class="tab-pane fade in">
                        <div class="row m-0">
                            @Html.Raw(ViewBag.SendTheContract)
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab6_sec5" class="tab-pane fade in ">
                        <div class="row m-0">
                            @Html.Raw(ViewBag.CarpetWeaving)
                        </div>
                    </div>
                    <!-- end tab content -->
                </div>
                <!-- end tab content section -->
            </div>
           @* <div class="col-12 text-center">
                <a href="/Home/RegisterCustomCarpet" class="btn btn-deep-pink btn-outline-danger btn-large margin-20px-top sm-no-margin-top">Register</a>
            </div>*@
        </div>
    </div>
</section>
<!-- end sabtfarsh sefareshi section -->
<!--- blog-->
 @if(Model.GetLastedPosts.Count>0)
{

    <section class="wow animate__fadeIn bg-light-gray" style="visibility: visible; animation-name: fadeIn;">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center margin-20px-bottom md-margin-10px-bottom sm-margin-9px-bottom">
                    <p class="alt-font margin-5px-bottom text-uppercase text-small">Best of Ours</p>
                    <h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 md-w-100">Lasted NEWS</h5>
                    <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto w-100px"></span>
                </div>
                <div class="col-12 blog-content">
                    <ul class="blog-classic blog-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-1col xs-grid-1col gutter-extra-large" style="position: relative; height: 338.675px;">
                        <li class="grid-sizer"></li>
                        @foreach (var blog in Model.GetLastedPosts)
                        {
                            <!-- start blog post item -->
                            <li class="grid-item blog-post blog-post-style1 last-paragraph-no-margin animate__fadeInUp" style="position: absolute; left: 0%; top: 0px; visibility: visible; animation-name: fadeInUp;">
                                <div class="blog-post-images overflow-hidden margin-nine-bottom sm-margin-20px-bottom">
                                    <a href="/blogs/detail/@(string.IsNullOrEmpty(@blog.Slug)?@blog.Id:@blog.Slug)">
                                        <img src="@blog.Image" alt="@blog.Title" data-no-retina="">
                                    </a>
                                </div>
                                <div class="separator-line-verticle-small-thick bg-deep-pink d-inline-block align-top margin-three-top margin-four-right sm-margin-10px-top"></div>
                                <div class="post-details w-75 lg-w-85 d-inline-block sm-w-85">
                                    <a href="/blogs/detail/@(string.IsNullOrEmpty(@blog.Slug)?@blog.Id:@blog.Slug)" class="post-title text-medium margin-four-bottom d-block text-extra-dark-gray sm-margin-10px-bottom">@blog.Title</a>
                                    <span class="post-author font-weight-500 text-extra-small text-medium-gray text-uppercase d-block margin-two-bottom">@blog.InsertTime/by <a href="#" class="text-medium-gray">@blog.Author</a></span>
                                </div>
                            </li>
                            <!-- end blog post item -->
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}

