@using EndPointStore.Models.HomePageViewModel;
@using Microsoft.AspNetCore.Mvc.Localization;
@model HomePageViewModel
@inject IViewLocalizer _Localizer
@{
    ViewData["Title"] = "RegisterCustomCarpet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync("HeaderTop")

<!-- start page title section -->
<section class="wow animate__fadeIn parallax" data-parallax-background-ratio="0.5" style="background-image:url('/SiteTemplate/assets/images/parallax-bg1.jpg');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">
                <!-- start page title -->
                <h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">@_Localizer["Order Registration"]</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<section class="wow animate__fadeIn">
    <div class="container">
        <div class="row">
            <!-- start contact-form -->
            <form id="register-custom-carpet">
                <div class="row">
                    <div class="col-12">
                        <div class="form-results d-none"></div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet Name"]:</label>
                                <input type="text" asp-for="RegisterCustomCarpetModel.Name" placeholder="@_Localizer["Register Carpet Name"] *" class="bg-transparent border-color-medium-dark-gray medium-input required">
                            </div>
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet Phone"]:</label>
                                <input type="tel" asp-for="RegisterCustomCarpetModel.PhoneNumber" placeholder="@_Localizer["Register Carpet Phone"]" class="bg-transparent border-color-medium-dark-gray medium-input">
                            </div>
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet E-mail"]:</label>
                                <input type="email" asp-for="RegisterCustomCarpetModel.Email" placeholder="@_Localizer["Register Carpet E-mail"] *" class="bg-transparent border-color-medium-dark-gray medium-input required">
                            </div>
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet Country"]:</label>
                                <input type="text" asp-for="RegisterCustomCarpetModel.Country" placeholder="@_Localizer["Register Carpet Country"] *" class="bg-transparent border-color-medium-dark-gray medium-input required">
                            </div>
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet Delivery Address"]:</label>
                                <input type="text" asp-for="RegisterCustomCarpetModel.Address" placeholder="@_Localizer["Register Carpet Delivery Address"]" class="bg-transparent border-color-medium-dark-gray medium-input required">
                            </div>
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet Delivery Date"]:</label>
                                <input type="date" asp-for="RegisterCustomCarpetModel.DeliveryDate" placeholder="@_Localizer["Register Carpet Delivery Date"]" class="bg-transparent border-color-medium-dark-gray medium-input required">
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet Category"]:</label>
                                <div class="select-style medium-select border-color-medium-dark-gray">
                                    <select onchange="toggleTypeCategory()" asp-for="RegisterCustomCarpetModel.CategoryId" asp-items=ViewBag.Category class="bg-transparent mb-0">
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 " id="TypeCategory" style="display: none;">
                                <label class="float-start">@_Localizer["Register Carpet Carpet Types"]:</label>
                                <div class="select-style medium-select border-color-medium-dark-gray">
                                    <select asp-for="RegisterCustomCarpetModel.TypeName" class="bg-transparent mb-0">
                                        <option value="400">400</option>
                                        <option value="500">500</option>
                                        <option value="700">700</option>
                                        <option value="1200">1200</option>
                                        <option value="1500">1500</option>
                                        <option value="1600">1600</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="float-start">@_Localizer["Register Carpet Width"] (Cm):</label>
                                        <input type="number" id="width" placeholder="@_Localizer["Register Carpet Width"] *" class="bg-transparent border-color-medium-dark-gray medium-input required">
                                    </div>
                                    <div class="col-6">
                                        <label class="float-start">@_Localizer["Register Carpet Length"] (Cm):</label>
                                        <input type="number" id="lenght" placeholder="@_Localizer["Register Carpet Length"] *" class="bg-transparent border-color-medium-dark-gray medium-input required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet Color"]:</label>
                                <div class="select-style medium-select border-color-medium-dark-gray">
                                    <select onchange="toggleColorTextbox()" asp-for="RegisterCustomCarpetModel.ColorId" asp-items=ViewBag.Colors class="bg-transparent mb-0">
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 " id="colorTextbox" style="display: none;">
                                <label class="float-start">@_Localizer["Enter your Desired Color"]:</label>
                                <input type="text" asp-for="RegisterCustomCarpetModel.ColorCustom" placeholder="@_Localizer["Enter your Desired Color"] " class="bg-transparent border-color-medium-dark-gray medium-input required">
                            </div>
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet Material"]:</label>
                                <div class="select-style medium-select border-color-medium-dark-gray">
                                    <select onchange="toggleMaterialTextbox()" asp-for="RegisterCustomCarpetModel.MaterialId" asp-items=ViewBag.Materials class="bg-transparent mb-0">
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 " id="materialTextbox" style="display: none;">
                                <label class="float-start">@_Localizer["Enter your Desired Material"]:</label>
                                <input type="text" asp-for="RegisterCustomCarpetModel.MaterialCustom" placeholder="Enter your Desired Material " class="bg-transparent border-color-medium-dark-gray medium-input required">
                            </div>
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Register Carpet Shape"]:</label>
                                <div class="select-style medium-select border-color-medium-dark-gray">
                                    <select onchange="toggleShapeTextbox()" asp-for="RegisterCustomCarpetModel.ShapeId" asp-items=ViewBag.Shapes class="bg-transparent mb-0">
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 " id="shapeTextbox" style="display: none;">
                                <label class="float-start">@_Localizer["Enter your Desired Shape"]:</label>
                                <input type="text" asp-for="RegisterCustomCarpetModel.ShapeCustom" placeholder="Enter your Desired Shape " class="bg-transparent border-color-medium-dark-gray medium-input required">
                            </div>
                            <div class="col-12 ">
                                <label class="float-start">@_Localizer["Upload your Own Design"]:</label>
                                <div class="progress d-none" style="height:10px;margin-bottom:3px">
                                    <div class="progress-bar w-3/4 bg-theme-1 " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <input type="file" multiple="false" id="select-design" accept="image/*" placeholder="Select file" class="bg-transparent border-color-medium-dark-gray medium-input">
                                <!-- END: File Manager Filter -->
                                <div class="result-upload"></div>
                                
                            </div>
                            <div class="col-12">
                                <label class="float-start">@_Localizer["Register Carpet Description"]:</label>
                                <input type="text" multiple="true" asp-for="RegisterCustomCarpetModel.Description" placeholder="@_Localizer["Enter the code of carpet or any other details"]" class="bg-transparent border-color-medium-dark-gray medium-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button id="register-custom" type="submit" class="btn btn-deep-pink btn-rounded btn-large margin-20px-top sm-no-margin-top submit">@_Localizer["Register"]</button>
                    </div>
                </div>
            </form>
            <!-- end contact-form -->
        </div>
    </div>
</section>
@section Scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        let image="";
        //Color Toggle
        function toggleColorTextbox() {
            var selectBox = document.getElementById("RegisterCustomCarpetModel_ColorId");
            var otherTextbox = document.getElementById("colorTextbox");
            if (selectBox.options[selectBox.selectedIndex].text === "Other") {
                $("#colorTextbox").slideDown();
            } else {
                $("#colorTextbox").slideUp();
            }
        }
        //Category Toggle
        function toggleTypeCategory() {
            var selectBox = document.getElementById("RegisterCustomCarpetModel_CategoryId");
            var otherTextbox = document.getElementById("TypeCategory");
            if (selectBox.options[selectBox.selectedIndex].text === "Machine-made Carpet") {
                $("#TypeCategory").slideDown();
            } else {
                $("#TypeCategory").slideUp();
            }
        }
        //Material Toggle
        function toggleMaterialTextbox() {
            var selectBox = document.getElementById("RegisterCustomCarpetModel_MaterialId");
            var otherTextbox = document.getElementById("materialTextbox");
            if (selectBox.options[selectBox.selectedIndex].text === "Other") {
                $("#materialTextbox").slideDown();
            } else {
                $("#materialTextbox").slideUp();
            }
        }
        //Shape Toggle
        function toggleShapeTextbox() {
            var selectBox = document.getElementById("RegisterCustomCarpetModel_ShapeId");
            var otherTextbox = document.getElementById("shapeTextbox");
            if (selectBox.options[selectBox.selectedIndex].text === "Other") {
                $("#shapeTextbox").slideDown();
            } else {
                $("#shapeTextbox").slideUp();
            }
        }

        //uploading
        $("#select-design").on("change",function(e){
            $('.result-upload').text("");
            console.log(e);
            let files = e.target.files;
            FrmData = new FormData();
            FrmData.append("File", files[0]);
            console.log(FrmData);
            $.ajax({
                type: 'POST',
                url: '/Home/UploadFile',
                data: FrmData,
                contentType: false,
                processData: false,
                cache: false,
                xhr: function () {
                    $('.progress').removeClass("d-none");
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener('progress', function (e) {
                        if (e.lengthComputable) {
                            var percentage = Math.round((e.loaded * 100) / e.total);
                            $('.progress .progress-bar').css('width', percentage + '%');
                            $('.progress .progress-bar').text(percentage + '%');
                        }
                    }, false);
                    return xhr;
                },
                success: function (response) {
                    if (response.isSuccess == true) {
                        $('.progress').addClass("d-none");

                        $('.result-upload').html(`<div style="color:green">${response.message}</div>`);
                        image = response.data.urls[0];
                        Toastify({
                            text: response.message,
                            duration: 3000,
                            className: "success-toastify"
                        }).showToast();
                    } else {
                        //error
                        $('.progress').addClass("d-none");
                        Toastify({
                            text: response.message,
                            duration: 3000,
                            className: "error-toastify"
                        }).showToast();
                    }
                },
                error: function (error) {
                    Toastify({
                        text: response.message,
                        duration: 3000,
                        className: "Error System"
                    }).showToast();
                    console.log(error);
                }
            });
        });

        $('#register-custom').on('click', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            btn.text("Please wait...");
            let name = $('#RegisterCustomCarpetModel_Name').val()
            let phoneNumber = $('#RegisterCustomCarpetModel_PhoneNumber').val()
            let email = $('#RegisterCustomCarpetModel_Email').val()
            let address = $('#RegisterCustomCarpetModel_Address').val();
            let country = $('#RegisterCustomCarpetModel_Country').val();
            let deliveryDate = $('#RegisterCustomCarpetModel_DeliveryDate').val();
            let categoryId = $('#RegisterCustomCarpetModel_CategoryId').val();
            let description = $('#RegisterCustomCarpetModel_Description').val();

            //
            let colorId;
            let colorCustom = $('#RegisterCustomCarpetModel_ColorCustom').val();
            if (colorCustom == "") {
                colorId = $('#RegisterCustomCarpetModel_ColorId').val();
            }
            else {
                colorId = $('#RegisterCustomCarpetModel_ColorCustom').val();
            }
            let sizeId = $('#width').val() + "*" + $('#lenght').val();
            //
            let materialCustom = $('#RegisterCustomCarpetModel_MaterialCustom').val();
            let materialId;
            if (materialCustom == "") {
                materialId = $('#RegisterCustomCarpetModel_MaterialId').val();
            }
            else {
                materialId = $('#RegisterCustomCarpetModel_MaterialCustom').val();
            }
            //
            let shapeId;
            let shapeCustom = $('#RegisterCustomCarpetModel_ShapeCustom').val();
            if (shapeCustom == "") {
                shapeId = $('#RegisterCustomCarpetModel_ShapeId').val();
            }
            else {
                shapeId = $('#RegisterCustomCarpetModel_ShapeCustom').val();
            }          
             let typeName ="";
            if (categoryId == "b3e2f091-70a9-4eea-b930-b34884f0e3a1"){
               typeName= $('#RegisterCustomCarpetModel_TypeName').val();
            }
            var data = {
                name, phoneNumber, email, address, country, deliveryDate
                , categoryId, colorId, sizeId, materialId, shapeId, typeName,image,description
            }
            console.log(data)
            ajaxFunc("/Home/RegisterCustomCarpet", data, "POST",
                function (result) {
                    if (result.isSuccess) {
                        $("#register-custom-carpet").trigger("reset");
                        btn.text("Register");
                        btn.prop('disabled', false);
                        Toastify({
                            text: result.message,
                            duration: 3000,
                            className: "success-toastify"
                        }).showToast();
                    } else {
                        btn.prop('disabled', false);
                        btn.text("Register");
                        Toastify({
                            text: result.message,
                            duration: 3000,
                            className: "error-toastify"
                        }).showToast();
                    }
                },
                function (error) {
                    btn.prop('disabled', false)
                    btn.text("Register");
                    Toastify({
                        text: "Error System",
                        duration: 3000,
                        className: "error-toastify"
                    }).showToast();
                    console.log(error);
                }
            )
        });
    </script>
}