@using Store.Application.Services.Blogs.Queries.GetAllBlog;
@model ResultGetBlogDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- BEGIN: Content -->
<div class="content">
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium ml-auto">
            چینش بلاگ
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            <a href="Create" class="btn btn-primary shadow-md ml-2"> افزودن پست </a>
            <div class="dropdown ml-auto sm:ml-0">
                <button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
                    <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
                </button>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="share-2" class="w-4 h-4 ml-2"></i> اشتراک پست </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="download" class="w-4 h-4 ml-2"></i> دانلود پست </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y grid grid-cols-12 gap-6 mt-5">
        <!-- BEGIN: Blog Layout -->
        @foreach (var item in Model.Blogs)
        {
            <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
                <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
                    <div class="mr-3 ml-auto">
                        <a href="" class="font-medium">@item.Author</a>
                        <div class="flex text-gray-600 truncate text-xs mt-0.5">
                            @foreach (var category in item.CategoryBlog)
                            {
                                <a class="text-theme-17 dark:text-gray-500 inline-block truncate" href="">
                                    @category.Name
                                </a>

                            }
                            <span class="mx-1">•</span> 28 ثانیه قبل
                        </div>
                    </div>
                    <div class="dropdown mr-3">
                        <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                        <div class="dropdown-menu w-40">
                            <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                                <a href="~/admin/blogs/edit/@item.Id" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 ml-2"></i> ویرایش پست </a>
                                <a data-itemid="@item.Id" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal" class="ShowDeleteModal flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 ml-2"></i> حذف پست </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-5">
                    <div class="h-40 xxl:h-56 image-fit">
                        <img alt="Icewall Tailwind HTML Admin Template" class="rounded-md" src="@item.Image">
                    </div>
                    <a href="" class="block font-medium text-base mt-5">@item.Title</a>
                    <div class="text-gray-700 dark:text-gray-600 mt-2">
                        @item.Description
                    </div>
                </div>
                @*                        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 ml-2 tooltip" title="بوکمارک"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex ml-2">
            <div class="intro-x w-8 h-8 image-fit">
            <img alt="Icewall Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="dist\images\profile-2.jpg" title="کوین اسپیسی">
            </div>
            <div class="intro-x w-8 h-8 image-fit -ml-4">
            <img alt="Icewall Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="dist\images\profile-3.jpg" title="شارلیز ترون">
            </div>
            <div class="intro-x w-8 h-8 image-fit -ml-4">
            <img alt="Icewall Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="dist\images\profile-4.jpg" title="Catherine Zeta-Jones">
            </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-14 dark:bg-dark-5 dark:text-gray-300 text-theme-10 mr-auto tooltip" title="اشتراک"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-1 text-white mr-2 tooltip" title="دانلود پی‌دی‌اف"> <i data-feather="share" class="w-3 h-3"></i> </a>
            </div>
            *@                        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
                    <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                        <div class="ml-2"> نظرات: <span class="font-medium">35</span> </div>
                        <div class="ml-2"> مشاهده: <span class="font-medium">@item.View</span> </div>
                        <div class="mr-auto"> لایک: <span class="font-medium">44k</span> </div>
                    </div>
                </div>
            </div>
        }
        <!-- END: Blog Layout -->
        <!-- BEGIN: Pagination -->
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
            <ul class="pagination">
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-right"></i> </a>
                </li>
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-right"></i> </a>
                </li>
                <li> <a class="pagination__link" href="">...</a> </li>
                <li> <a class="pagination__link" href="">1</a> </li>
                <li> <a class="pagination__link pagination__link--active" href="">2</a> </li>
                <li> <a class="pagination__link" href="">3</a> </li>
                <li> <a class="pagination__link" href="">...</a> </li>
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-left"></i> </a>
                </li>
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-left"></i> </a>
                </li>
            </ul>
            <select class="w-20 form-select box mt-3 sm:mt-0">
                <option>10</option>
                <option>25</option>
                <option>35</option>
                <option>50</option>
            </select>
        </div>
        <!-- END: Pagination -->
    </div>
</div>
<!-- END: Content -->
<!-- BEGIN: Delete Confirmation Modal -->
<div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">مطمئن هستید؟</div>
                    <div class="text-gray-600 mt-2">
                        آیا از حذف این داده مطمئن هستید؟
                        <br>
                        در صورت موافقت این داده برنخواهد گشت
                    </div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">لغو</button>
                    <button id="remove-blog" data-blogid="" type="button" class="btn btn-danger w-24">حذف</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Delete Confirmation Modal -->
@section Scripts
    {
    <script src="~/AdminTemplate/assets/js/jquery.js"></script>
    <script src="~/AdminTemplate/Library/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/AdminTemplate/Library/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/AdminTemplate/Library/jquery-validate/localization/messages_fa.min.js"></script>
    <script src="~/AdminTemplate/Library/toastify-js/toastify.min.js"></script>
    <script src="~/AdminTemplate/assets/js/main.js"></script>
    <script>
        //
        $(".ShowDeleteModal").on('click', function () {
            let blogId = $(this).attr('data-itemid');
            $("#remove-blog").attr('data-blogid', blogId)
            $("#delete-confirmation-modal").show();
        })
        //Delete Blog
        $(document).on('click', "#remove-blog", function (e) {
            let blogId = $(this).attr('data-blogid');
            var postData = {
                blogId
            };
            console.log(postData)
            ajaxFunc("/Admin/Blogs/Delete", postData, "POST",
                function (result) {
                    if (result.isSuccess) {
                        $("#delete-confirmation-modal").hide();
                        successToastify(result.message);
                        setTimeout(function () {
                            location.reload()
                        }, 2000);
                    } else {
                        dangerToastify(result.message);
                    }
                },
                function (error) {
                    dangerToastify("Error System");
                    console.log(error);
                }
            )
        })
    </script>
}

