@using Store.Application.Services.Products.Queries.GetDetailCustomCarpet
@model GetDetailCustomCarpetDto
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- END: Top Bar -->
<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium ml-auto">
        نمایش اطلاعات ثبت شده
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
    </div>
</div>
<!-- BEGIN: Invoice -->
<div class="intro-y box overflow-hidden mt-5">
    <div class="border-b border-gray-200 dark:border-dark-5 text-center sm:text-right">
        <div class="flex flex-col lg:flex-row px-5 sm:px-20 pt-10 pb-1 sm:pb-2">

            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">نام کامل</div>
                <div class="mt-1">@Model.Name</div>
            </div>

            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">تلفن</div>
                <div class="mt-1">@Model.PhoneNumber</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">ایمیل</div>
                <div class="mt-1">@Model.Email</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">کشور</div>
                <div class="mt-1">@Model.Country</div>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row px-5 sm:px-20 pt-10 pb-1 sm:pb-2">
            
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">نوع</div>
                <div class="mt-1">@Model.CategoryName</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">تعداد شانه</div>
                <div class="mt-1">@Model.TypeName</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">رنگ</div>
                <div class="mt-1">@Model.ColorName</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">اندازه</div>
                <div class="mt-1">@Model.SizeName</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">مواد</div>
                <div class="mt-1">@Model.MaterialName</div>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row px-5 sm:px-20 pt-10 pb-10 sm:pb-20">
            
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">شکل</div>
                <div class="mt-1">@Model.ShapeName</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">تاریخ تحویل</div>
                <div class="mt-1">@Model.DeliveryDate</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">آدرس تحویل</div>
                <div class="mt-1">@Model.Address</div>
            </div>
            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">توضیحات</div>
                <div class="mt-1">@Model.Description</div>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row px-5 sm:px-20 pt-10 pb-10 sm:pb-20">

            <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
                <div class="text-lg font-medium text-theme-1 dark:text-theme-10 mt-2">تصویر ارسالی</div>
                <div class="mt-1"><img src="@Model.Image" /></div>
            </div>
           
        </div>

    </div>

</div>
<!-- END: Invoice -->
