@using EndPointStore.Models.ContactUsViewModel;
@model ContactUsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync("HeaderTop")
<!-- start page title section -->
<section class="wow animate__fadeIn parallax" data-parallax-background-ratio="0.5" style="background-image:url('/SiteTemplate/assets/images/contact-banner.jpg');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-12 page-title-large d-flex flex-column justify-content-center text-center padding-30px-tb">
                <!-- start sub title -->
@*                 <span class="d-block text-white-2 opacity6 w-45 sm-w-100 alt-font margin-5px-bottom mx-auto">We are located in downtown New York</span>
 *@                <!-- end sub title -->
                <!-- start page title -->
                <h1 class="alt-font text-white-2 font-weight-600 mb-0">Contact Arikeh</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start contact section -->
<section class="wow animate__fadeIn">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
            <!-- start contact block -->
            <div class="col text-center last-paragraph-no-margin md-margin-30px-bottom wow animate__fadeInUp">
                <div class="padding-60px-all border-all border-color-medium-gray md-padding-20px-all sm-padding-30px-all " style="background-color:#efebff">
                    <img src="~/SiteTemplate/assets/images/iran.png" alt="iran" class="margin-30px-bottom md-margin-20px-bottom" />
                    <div class="text-extra-dark-gray alt-font font-weight-600 text-uppercase">Iran</div>
                    <p>@Model.GetContactInfoSite.Address</p>
                    <p><strong>Tel:</strong> @Model.GetContactInfoSite.Phone<br><strong>E-mail:</strong> <a href="@Model.GetContactInfoSite.Email">@Model.GetContactInfoSite.Email</a></p>
                </div>
            </div>
            <!-- end contact block -->
        </div>
    </div>
</section>
<!-- end contact section -->
<!-- start form section -->
<section class="wow animate__fadeIn parallax" data-parallax-background-ratio="0.5" style="background-image:url('/SiteTemplate/assets/images/parallax-bg23.jpg');">
    <div class="opacity-full bg-black"></div>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <!-- start contact-form head -->
            <div class="col-12 col-xl-5 col-md-6 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center">
@*                 <div class="text-small text-medium-gray alt-font text-uppercase margin-5px-bottom">Start Your New Project</div>
 *@                <h5 class="alt-font text-white-2 font-weight-600 mb-0">Fill out the form & we'll be in touch soon!</h5>
            </div>
            <!-- end contact-form head -->
        </div>
        <!-- start contact-form -->
        <form id="frm-create">
            <div class="row">
                <div class="col-12">
                    <div class="form-results d-none"></div>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" asp-for="ContactUsModel.Name" placeholder="Name *" class="bg-transparent border-color-medium-dark-gray medium-input required">
                </div>
                <div class="col-12 col-md-6">
                    <input type="tel" asp-for="ContactUsModel.Mobile" placeholder="Phone" class="bg-transparent border-color-medium-dark-gray medium-input">
                </div>
                <div class="col-12 col-md-6">
                    <input type="email" asp-for="ContactUsModel.Email" placeholder="E-mail *" class="bg-transparent border-color-medium-dark-gray medium-input required">
                </div>
                @*                <div class="col-12 col-md-6">
                <div class="select-style medium-select border-color-medium-dark-gray">
                <select name="budget" id="budget" class="bg-transparent mb-0">
                <option value="">Select your budget</option>
                <option value="$500 - $1000">$500 - $1000</option>
                <option value="$1000 - $2000">$1000 - $2000</option>
                <option value="$2000 - $5000">$2000 - $5000</option>
                </select>
                </div>
                </div>
                *@                <div class="col-12">
                    <textarea asp-for="ContactUsModel.Text" placeholder="Enter your message" rows="6" class="bg-transparent border-color-medium-dark-gray medium-textarea"></textarea>
                </div>
                <div class="col-12 text-center">
                    <button id="create-contact" type="submit" class="btn btn-deep-pink btn-rounded btn-large margin-20px-top sm-no-margin-top submit">send message</button>
                </div>
            </div>
        </form>
        <!-- end contact-form -->
    </div>
</section>
<!-- end form section -->
<!-- start map section -->
@if (!string.IsNullOrEmpty(Model.GetContactInfoSite.Map))
{
    <section class="p-0 one-second-screen md-h-400px sm-h-300px wow animate__fadeIn">
        <iframe class="w-100 h-100" src="@Model.GetContactInfoSite.Map"></iframe>
    </section>
}

<!-- end map section -->


@section Scripts
    {
    <script src="~/SiteTemplate/assets/js/jquery.min.js"></script>
    <script src="~/SiteTemplate/Library/jquery/jquery.js"></script>
    <script src="/SiteTemplate/library/toastify-js/toastify.min.js"></script>
    <script src="/SiteTemplate/library/toastify-js/toastify.js"></script>
    
    <script>
        $('#create-contact').on('click', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            btn.text("Please wait...");
            let name = $('#ContactUsModel_Name').val()
            let mobile = $('#ContactUsModel_Mobile').val()
            let email = $('#ContactUsModel_Email').val()
            let text = $('#ContactUsModel_Text').val();
            var data = {
                name, mobile, email, text
            }
            ajaxFunc("/ContactUs/Create", data, "POST",
                function (result) {
                    if (result.isSuccess) {
                        $("#frm-create").trigger("reset");
                        btn.text("Send message");
                        btn.prop('disabled', false);
                        Toastify({
                            text: result.message,
                            duration: 3000,
                            className: "success-toastify"
                        }).showToast();
                    } else {
                        btn.prop('disabled', false);
                        btn.text("Send message");
                        Toastify({
                            text: result.message,
                            duration: 3000,
                            className: "error-toastify"
                        }).showToast();
                    }
                },
                function (error) {
                    btn.prop('disabled', false)
                    btn.text("Send message");
                    Toastify({
                        text: "Error System",
                        duration: 3000,
                        className: "error-toastify"
                    }).showToast();
                    console.log(error);
                }
            )
        });
    </script>
}

