@using Store.Application.Services.Pages.Queries.GetAllPageCreator;
@model ResultGetPageCreatorDto;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- END: Top Bar -->
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
        <a href="~/admin/Pages/Create" class="btn btn-primary shadow-md ml-2">افزودن صفحه جدید</a>
        <div class="dropdown">
            <button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
                <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
            </button>
            <div class="dropdown-menu w-40">
                <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="printer" class="w-4 h-4 ml-2"></i>پرینت</a>
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file-text" class="w-4 h-4 ml-2"></i> خروجی اکسل </a>
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file-text" class="w-4 h-4 ml-2"></i> خروجی پی‌دی‌اف </a>
                </div>
            </div>
        </div>
        <div class="hidden md:block mx-auto text-gray-600">نمایش 1 تا 10 از 150 داده</div>
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <form method="get" class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                <div class="w-56 relative text-gray-700 dark:text-gray-300">
                    <fieldset>
                        <input name="searchkey" type="search" class="form-control w-56 box pl-10 placeholder-theme-13" placeholder="جستجو...">
                        <i class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0" data-feather="search"></i>
                    </fieldset>

                </div>
            </form>
        </div>
    </div>
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap text-center">عنوان </th>
                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap text-center">URL</th>
                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap text-center">وضعیت</th>
                    <th class="border-b-2 dark:border-dark-5 whitespace-nowrap text-center">فعالیت</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PageCreators)
                {
                    <tr class="intro-x">
                        <td class="border-b dark:border-dark-5 text-center">
                            @item.Title
                        </td>
                        <td id="@item.Id" class="border-b dark:border-dark-5 text-center">@item.Url</td>
                        @if (item.IsActive)
                        {
                            <td class="border-b dark:border-dark-5 text-center">
                                <div class="justify-center text-theme-9"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 ml-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg> فعال </div>
                            </td>
                        }
                        else
                        {
                            <td class="border-b dark:border-dark-5 text-center">
                                <div class="justify-center text-theme-6"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 ml-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg> غیرفعال </div>
                            </td>
                        }
                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a onclick="copyCellToClipboard('@item.Id')" class="flex items-center ml-3" href="javascript:;"> <i data-feather="copy" class="w-4 h-4 ml-1"></i> کپی</a>
                                <a href="~/admin/Pages/edit/@item.Id" class="flex items-center ml-3" href="javascript:;"> <i data-feather="check-square" class="w-4 h-4 ml-1"></i> ویرایش</a>
                                <a data-itemid="@item.Id" class="ShowDeleteModal flex items-center text-theme-6" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 ml-1"></i> حذف </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- END: Data List -->
    <!-- BEGIN: Pagination -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
        <ul class="pagination">
            <li>
                <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-right"></i> </a>
            </li>
            <li>
                <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-right"></i> </a>
            </li>
            <li> <a class="pagination__link" href="">...</a> </li>
            <li> <a class="pagination__link" href="">1</a> </li>
            <li> <a class="pagination__link pagination__link--active" href="">2</a> </li>
            <li> <a class="pagination__link" href="">3</a> </li>
            <li> <a class="pagination__link" href="">...</a> </li>
            <li>
                <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-left"></i> </a>
            </li>
            <li>
                <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-left"></i> </a>
            </li>
        </ul>
        <select class="w-20 form-select box mt-3 sm:mt-0">
            <option>10</option>
            <option>25</option>
            <option>35</option>
            <option>50</option>
        </select>
    </div>
    <!-- END: Pagination -->
</div>
<!-- BEGIN: Delete Confirmation Modal -->
<div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">مطمئن هستید؟</div>
                    <div class="text-gray-600 mt-2">
                        آیا از حذف این داده مطمئن هستید؟
                        <br>
                        در صورت موافقت این داده برنخواهد گشت
                    </div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">لغو</button>
                    <button id="remove-page" data-pageid="" type="button" class="btn btn-danger w-24">حذف</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Delete Confirmation Modal -->
@section Scripts{
    <script src="~/AdminTemplate/assets/js/jquery.js"></script>
    <script src="~/AdminTemplate/Library/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/AdminTemplate/Library/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/AdminTemplate/Library/jquery-validate/localization/messages_fa.min.js"></script>
    <script src="~/AdminTemplate/Library/toastify-js/toastify.min.js"></script>
    <script src="~/AdminTemplate/assets/js/main.js"></script>
    <script>
        function copyCellToClipboard(cellId) {
            // انتخاب محتوای سلول با استفاده از شناسه
            var cellContent = document.getElementById(cellId).innerText;

            // ایجاد یک المان مخفی (textarea) در صفحه
            var tempInput = document.createElement("textarea");
            tempInput.style.position = "absolute";
            tempInput.style.left = "-9999px";
            tempInput.style.top = "0";
            tempInput.value = cellContent;

            // اضافه کردن المان به صفحه
            document.body.appendChild(tempInput);

            // انتخاب محتوای المان
            tempInput.select();

            // کپی کردن محتوای انتخاب شده به کلیپ بورد
            document.execCommand("copy");

            // حذف المان موقت اضافه شده
            document.body.removeChild(tempInput);

            // نمایش پیامی که محتوا با موفقیت کپی شد
            alert("محتوای سلول با موفقیت به کلیپ بورد کپی شد!");
        }
        //
        $(".ShowDeleteModal").on('click', function () {
            let pageId = $(this).attr('data-itemid');
            console.log(pageId)
            $("#remove-page").attr('data-pageid', pageId)
            $("#delete-confirmation-modal").show();
        })
        //Delete Product
        $(document).on('click', "#remove-page", function (e) {
            let pageId = $(this).attr('data-pageid');
            var postData = {
                pageId
            };
            console.log(postData)
            ajaxFunc("/Admin/Pages/Delete", postData, "POST",
                function (result) {
                    if (result.isSuccess) {
                        $("#delete-confirmation-modal").hide();
                        successToastify(result.message);
                        setTimeout(function () {
                            location.reload()
                        }, 2000);
                    } else {
                        dangerToastify(result.message)
                    }
                },
                function (error) {
                    dangerToastify("Error System");
                    console.log(error);
                }
            )
        })
    </script>
}