@using Microsoft.AspNetCore.Localization;
@using Store.Application.Services.Langueges.Queries;
@using System.Globalization;

@model AllLanguegeDto
@{
    Layout = null;
    var userLanguage = CultureInfo.CurrentCulture.Name;

}
@foreach (var item in ViewBag.LanList)
{
    <option id="@item.Id" value="@item.Culture" data-culture="@item.Culture" selected="@(item.Culture==userLanguage ? true:false)" class="language-link">@item.Name.Substring(0,2)</option>
}
