@using Microsoft.AspNetCore.Mvc.Localization;
@using Store.Application.Services.Blogs.Queries.GetAllBlogForSite;
@using Store.Common;
@model ResultBlogsForSiteDto
@inject IViewLocalizer _Localizer
@await Component.InvokeAsync("HeaderTop")
@{
    ViewData["Title"] = $"{ViewBag.Setting?.SiteName} | Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Metatags{
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="@ViewBag.Setting?.KeyWords">
    <meta name="description" content="@ViewBag.Setting?.Description">
    <meta name="twitter:title" content="Blogs" />
    <meta name="twitter:description" content="@ViewBag.Setting?.Description"/>
    <meta name="twitter:image" content="@ViewBag.Setting?.Logo"/>
    <meta property="og:title" content="Blogs"/>
    <meta property="og:url" content="@(ViewBag.Setting?.BaseUrl)Blogs" />
    <meta property="og:image" content="@ViewBag.Setting?.Logo">
    <meta property="og:description" content="@ViewBag.Setting?.Description">
    <meta property="og:site_name" content="@ViewBag.Setting?.SiteName"/>
    <link rel="icon" type="image/svg" href="@ViewBag.Setting?.Icon" />
}

<!-- start page title section -->
<section class="wow animate__fadeIn parallax" data-parallax-background-ratio="0.5" style="background-image:url('/SiteTemplate/assets/images/parallax-bg1.jpg');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">
                <!-- start page title -->
                <h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">@_Localizer["BlogNews"]</h1>
@*                 <span class="text-white-2 opacity6 alt-font">All blogs can be seen here</span>
 *@                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start post content section -->
<section class="wow animate__fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12 blog-content">
                <ul class="blog-grid blog-wrapper grid grid-loading grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col hover-option4 blog-post-style3 gutter-extra-large">
                    <li class="grid-sizer"></li>
                    @foreach (var blog in Model.Blogs)
                    {
                        <!-- start post item -->
                        <li class="grid-item last-paragraph-no-margin text-center text-sm-start wow animate__fadeInUp">
                            <div class="blog-post bg-light-gray">
                                <div class="blog-post-images overflow-hidden position-relative">
                                    <a href="/blogs/detail/@(string.IsNullOrEmpty(@blog.Slug)?@blog.Id:@blog.Slug)">
                                        <img src="@blog.Image" alt="@blog.Title">
                                        <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                    </a>
                                </div>
                                <div class="post-details padding-40px-all md-padding-20px-all">
                                    <a href="/blogs/detail/@(string.IsNullOrEmpty(@blog.Slug)?@blog.Id:@blog.Slug.Replace(" ","-"))" class="alt-font post-title text-medium text-extra-dark-gray w-100 d-block lg-w-100 margin-15px-bottom">@Assistants.TruncateText(blog.Title,50)</a>
                                    <p>@Assistants.TruncateText(blog.Description,90)</p>
                                    <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                    <div class="author">
                                        <span class="text-medium-gray text-uppercase text-extra-small d-inline-block">@_Localizer["by"] <a href="blog-masonry.html" class="text-medium-gray">@blog.Author</a>@blog.InsertTime</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- end post item -->
                    }
                </ul>
            </div>
        </div>
        <!-- start pagination -->
            @Html.Raw(Model.Paginate)                
        <!-- end pagination -->
    </div>
</section>
<!-- end blog content section -->
